body,
html {
	width: 100;
	height: 100;
	padding: 0;
	margin: 0;
	font-family: "Courier New", Courier, monospace;
	font-size: 24px;
}

.card-container {
	padding: 100px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.profile-card {
	width: 250px;
	height: 300px;
	background-color: antiquewhite;
	margin: 15px;
}

#random-dog-img {
	box-sizing: border-box;
	padding: 5px;
	height: 150px;
	background-color: #3a3537;
	overflow: hidden;
}

.random-user {
	box-sizing: border-box;
	font-size: 12px;
	margin: auto auto auto 5px;
}

#delete-btn,
#chat-btn {
	box-sizing: border-box;
	width: 25px;
	height: 25px;
	margin: auto;
}
