/* General styles */
body {
    font-family: -apple-system;
    margin: 0;
    padding: 0;
    background-color: #ff6600;
}

.container {
    max-width: 50rem;
    margin: 3.125rem auto;
    background-color: #D35400;
    border-radius: 0.625rem;
    padding: 1.25rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 5);
}

/* Header styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.875rem;
}

/* Tittle text */
.header h1 {
    font-size: 1.6rem;
    color: #FFBFB1;
}

.score {
    font-size: 1.125rem;
    color: #FFBFB1; /* score text */
}

/* Filter buttons styles */
.filter-buttons {
    margin-bottom: 1.25rem;
    display: flex;
    justify-content: space-around;
}

.filter-buttons button {
    padding: 1.25rem 5rem;
    border: none;
    border-radius: 0.625rem;
    background-color: #FFA033; /* button background */
    color: #000; /*  button text */
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
}

  /* D button background on hover */
.filter-buttons button:hover {
    background-color: #4d2900;
  color: #ffffff;
}

/* Profile card styles */
.profile-card {
    border-radius: 0.625rem;
    overflow: hidden;
    box-shadow: 0 0 0px rgba(10, 10, 0, 0.1);
    margin-bottom: 2.5rem;
}

.profile-card img {
    width: 100%;
    height: 25rem;
    object-fit: cover;
}

.profile-card h2 {
    font-size: 1.25rem;
    margin: 0.625rem 0;
    color: #ffff99; /* Dark blue profile text */
}

.profile-card p {
    font-size: 1rem;
    margin: 0.625rem 0;
    color: #ffff99; /* Dark gray profile text */
}

/* Swipe buttons styles */
.swipe-buttons {
    display: flex;
    justify-content: center;
    margin-top: 1.25rem;
}

.swipe-buttons button {
    padding: 1.25rem 1.25rem;
    margin: 1.25rem;
    font-size: 1.25rem;
    border: 0.125rem solid #ffff80; /* Dark green border */
    border-radius: 0.3125rem;
    background-color: #FFA033; /* White button background */
    color: #4d2900; /* Dark green button text */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    outline: none;
}

.swipe-buttons button:hover {
    background-color: #4d2900; /* Dark green button background on hover */
    color: #ffffff; /* White button text on hover */
}

/* Message styles */
#message {
    font-size: 1.125rem;
    font-weight: bold;
    color: #fff; /* Red message text */
    margin-top: 1.25rem;
}
