body {
	font-family: "Courier New", Courier, monospace;
	margin: 0;
	padding: 0;
	background-color: #fff;
	color: #000;
}

.container {
	max-width: 750px;
	margin: 25px auto;
	background-color: #f0f0f0;
	padding: 25px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 25px;
}

.header h1 {
	font-size: 32px;
}

.header,
.score {
	font-size: 24px;
}

.filter-buttons {
	margin-bottom: 25px;
	display: flex;
	justify-content: space-around;
}

.filter-buttons button {
	padding: 25px 50px;
	background-color: #f0f0f0;
}

.filter-buttons button:hover {
	background-color: #000;
	color: #f0f0f0;
}

.profile-card {
	overflow: hidden;
	margin-bottom: 20px;
}

.profile-card img {
	width: 100%;
	height: 500px;
	object-fit: cover;
}

.profile-card h2 {
	font-size: 32px;
	margin: 25px;
	color: #fff;
}

.profile-card p {
	font-size: 24px;
	margin: 25px;
	color: #fff;
}

.liked-profiles-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.liked-profile {
	flex-basis: 20%;
	margin: 10px;
	padding: 10px;
}

.liked-profile img {
	width: 100%;
	height: 25px;
	object-fit: cover;
	margin-bottom: 0.5px;
}

.liked-profile p {
	font-size: 12px;
	margin: 15px;
}

.liked-profile button {
	padding: 25px;
}

.liked-profile button:hover {
	background-color: #000;
}
